ray==2.9.0
mlflow==2.21.3

langchain==0.3.23
langchain-anthropic==0.3.10
langchain-community==0.3.21
langchain-core==0.3.51
langchain-openai==0.3.12
langchain-text-splitters==0.3.8
langchain-xai==0.2.2
wikipedia==1.4.0

pandas==2.2.3
pydantic==2.11.3
requests==2.32.3