fastapi==0.115.12
uvicorn==0.29.0
gunicorn==21.2.0
pydantic==2.7.4
mlflow==2.21.3
python-dotenv==1.0.1

# LangChain core stack
langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.21
langchain-openai==0.3.12
langchain-anthropic==0.3.10
langchain-text-splitters==0.3.8
langchain-xai==0.2.2

# LangGraph related
langgraph==0.3.21
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.60

# LangSmith
langsmith==0.3.19